#gamefield{
	position:absolute; 
	top:35px; 
	left:250px; 
	width:650px; 
	height:450px;
	background-color: black;
}
#ball{
	position:absolute; 
	background-color: white;
	width:10px; 
	height:10px;
	border-radius:50%;
}
.paddle{
	position:absolute; 
	background-color: white;
	width:10px; 
	height:55px;
}
#leftPaddle{
	top:35px; 
	left:20px; 
}
#rightPaddle{
	top:35px; 
	left:620px; 
}
#middleLine{
	position:absolute; 
	left: 324px;
	top: 0px;
	width: 1px;
	height: 450px;
	border-left: thick dashed white;
}